#map {
    width: 80%;
    height: 500px;
    border: 4px solid #b3d9b0;
    margin-top:20px;
    margin-bottom: 20px;
    overflow: scroll;
}
.commentArea {
    font: 14px Arial;
    padding: 0 10px;
    margin-top: 20px;
    width: 100%;
}

.bubbledLeft {
    margin-top: 20px;
    padding: 5px 9px;
    width:98%;
    clear: both;
    position: relative;
    text-align: left;
    float: left;
    margin-right: auto;
    -webkit-border-radius: 8px 8px 8px 0px;
    -moz-border-radius: 8px 8px 8px 0px;
    -o-border-radius: 8px 8px 8px 0px;
    -ms-border-radius: 8px 8px 8px 0px;
    border-radius: 8px 8px 8px 0px;
    background-color: #6495ED;
    color: #ffffff;
}

.bubbledLeft:before {
    border-bottom: 10px solid #6495ED;
    border-left: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    left: -8px;
    content: "";
}

.btn {
  display:block;
  text-align:center;
  width:80%;
  height:50%;
  background: #8cc284;
  background-image: -webkit-linear-gradient(top, #8cc284, #4eab5c);
  background-image: -moz-linear-gradient(top, #8cc284, #4eab5c);
  background-image: -ms-linear-gradient(top, #8cc284, #4eab5c);
  background-image: -o-linear-gradient(top, #8cc284, #4eab5c);
  background-image: linear-gradient(to bottom, #8cc284, #4eab5c);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 33px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  margin-bottom: 20px;
}
.btn:hover {
  background: #b3d9b0;
  background-image: -webkit-linear-gradient(top, #b3d9b0, #a8dbaa);
  background-image: -moz-linear-gradient(top, #b3d9b0, #a8dbaa);
  background-image: -ms-linear-gradient(top, #b3d9b0, #a8dbaa);
  background-image: -o-linear-gradient(top, #b3d9b0, #a8dbaa);
  background-image: linear-gradient(to bottom, #b3d9b0, #a8dbaa);
  text-decoration: none;
}
.timestamp {
  text-align:center;
  font-size:12px;
}
