@media screen
and (min-device-width: 1200px)
and (max-device-width: 1600px) {
    #list {
        width: 30%;
    }
}
@media screen
and (min-device-width: 320px)
and (max-device-width: 736px) {
    #list {
        width:80%;
    }
}

#LISTVIEW, #NEWEVENT {
    display: none;
}

#NEWEVENT {
    background: #282827;
    width: 100%;
    height:100%;
    opacity: .9;
    position: absolute;
}

body {
    margin: 0;
}
#createEventForm {
  display:block;
  text-align:left;
  width:80%;
  height:80%;
  font-family: Arial;
  color: #DCD8CF;
  font-size: 5em;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  margin-bottom: 20px;
}
#mapContainer {
    display:block;
    position: fixed;
    width: 100%;
    height: 100%;
    border: none;
    z-index: -1;
}
#map {
    width: 100%;
    height: 100%;
}
#list {
    font: 14px Arial;
   padding: 0 10px;
    margin-top: 20px;
    overflow: scroll;
}

.bubbledLeft {
    margin-top: 20px;
    padding: 5px 9px;
    width:98%;
    clear: both;
    position: relative;
    text-align: left;
    float: left;
    margin-right: auto;
    -webkit-border-radius: 8px 8px 8px 0px;
    -moz-border-radius: 8px 8px 8px 0px;
    -o-border-radius: 8px 8px 8px 0px;
    -ms-border-radius: 8px 8px 8px 0px;
    border-radius: 8px 8px 8px 0px;
    background-color: #6495ED;
    color: #ffffff;
}

.bubbledLeft:before {
    border-bottom: 10px solid #6495ED;
    border-left: 9px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 0;
    left: -8px;
    content: "";
}
.btn {
  display:block;
  text-align:center;
  width:90%;
  height:5%;
  background: #8cc284;
  background-image: -webkit-linear-gradient(top, #8cc284, #4eab5c);
  background-image: -moz-linear-gradient(top, #8cc284, #4eab5c);
  background-image: -ms-linear-gradient(top, #8cc284, #4eab5c);
  background-image: -o-linear-gradient(top, #8cc284, #4eab5c);
  background-image: linear-gradient(to bottom, #8cc284, #4eab5c);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #ffffff;
  font-size: 33px;
  padding: 10px 40px 10px 40px;
  text-decoration: none;
  margin-bottom: 20px;
  position: fixed;
}
.btn:hover {
  background: #b3d9b0;
  background-image: -webkit-linear-gradient(top, #b3d9b0, #a8dbaa);
  background-image: -moz-linear-gradient(top, #b3d9b0, #a8dbaa);
  background-image: -ms-linear-gradient(top, #b3d9b0, #a8dbaa);
  background-image: -o-linear-gradient(top, #b3d9b0, #a8dbaa);
  background-image: linear-gradient(to bottom, #b3d9b0, #a8dbaa);
  text-decoration: none;
                                      }
#btnList, #btnMap, #btnSubmit {
    top: 80%;
}
.btnCreate{
    top: 90%;
}
.timestamp {
  text-align:center;
  font-size:12px;
}
.message {
  text-align:center;
  font-size: 16px;
}
#gloopad {
  width:80%;
  height:50%;
}








* { -webkit-font-smoothing:antialiased; -moz-font-smoothing:antialiased; -ms-font-smoothing:antialiased; -o-font-smoothing:antialiased; font-smoothing:antialiased; }

.btnheadings{
    font-family: "Open Sans", arial;
    font-weight: 300;
}
.container{
    position: fixed;
    width: 16em;
    height: 15em;
    left: 0px;
    top: 55%;
    -webkit-transform:scale(0.9);
}
div.wide{
    text-decoration:none;
    color:#fff;
    -webkit-transition: -webkit-transform 0.1s;
    position:relative;
    overflow:hidden;
}

div.wide h2.btnheadings {
    position:absolute;
    bottom:5px;
    font-size:20px;
}
div.wide:hover {
    -webkit-transform: scale(1.05);
}

div.wide:active {
    -webkit-transform: scale(1);
}
.wide{
    width:16.875em;
    height:7.5em;
    overflow:hidden;
    font-size:13px;
    padding:10px;
    display:block;
    margin: auto;
}
.orange{background: #E25D33;}
.black{background: #282827;}

#btnBack {
    position: fixed;
    left: 90%;
    top: 5%;
}
#close {
    width: 1em;
    height: 1em;
}

input[type="text"] {
    padding: 10px;
    border:none;
    border-bottom: solid 10px #DCD8CF;
    transition: border 0.3s;
    width: 4em;
    line-height: 1.25em;
    font-size: 1em;
    background: #282827;
    color: #DCD8CF;
}
input[type="text"]:focus,
input[type="text"].focus {
    border-bottom: solid 10px #E25D33;
    outline: none;
}

#description {
    width: 6em;
}

#location {
    width: 5em;
}

.form {
    position:relative;
    left: 1em;
}
#selectstyle {
    left:2em;
}

#selectstyle select {
   background: #DCD8CF;
   width: 4em;
   left: 1em;
   padding: 5px;
   font-size: 30px;
   line-height: 1.25em;
   border: none;
   outline:none;
   -webkit-appearance: menulist-button;
}
